@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #000000;
  --foreground: #ffffff;
  --card: #0f0f0f;
  --card-foreground: #ffffff;
  --popover: #1a1a1a;
  --popover-foreground: #ffffff;
  --primary: #ffffff;
  --primary-foreground: #000000;
  --secondary: #1a1a1a;
  --secondary-foreground: #ffffff;
  --muted: #2a2a2a;
  --muted-foreground: #808080;
  --accent: #ffffff;
  --accent-foreground: #000000;
  --destructive: #e7000b;
  --destructive-foreground: #ffffff;
  --border: #333333;
  --input: #2a2a2a;
  --ring: #666666;
  --chart-1: #ffffff;
  --chart-2: #b3b3b3;
  --chart-3: #808080;
  --chart-4: #4d4d4d;
  --chart-5: #333333;
  --radius: 0.5rem;
  --sidebar: #0a0a0a;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #ffffff;
  --sidebar-primary-foreground: #000000;
  --sidebar-accent: #1a1a1a;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #333333;
  --sidebar-ring: #666666;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --font-sans: "Geist", system-ui, sans-serif;
  --font-mono: "Geist Mono", monospace;
  --font-playfair: "Playfair Display", serif;
}

.dark {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --card: #191919;
  --card-foreground: #fafafa;
  --popover: #262626;
  --popover-foreground: #fafafa;
  --primary: #737373;
  --primary-foreground: #fafafa;
  --secondary: #262626;
  --secondary-foreground: #fafafa;
  --muted: #262626;
  --muted-foreground: #a1a1a1;
  --accent: #404040;
  --accent-foreground: #fafafa;
  --destructive: #ff6467;
  --destructive-foreground: #262626;
  --border: #383838;
  --input: #525252;
  --ring: #737373;
  --chart-1: #737373;
  --chart-2: #737373;
  --chart-3: #737373;
  --chart-4: #737373;
  --chart-5: #737373;
  --sidebar: #171717;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #fafafa;
  --sidebar-primary-foreground: #171717;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #ffffff;
  --sidebar-ring: #525252;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: #000000;
}

@layer base {
  * {
    @apply outline-none;
  }
  body {
    @apply bg-black text-white;
  }
}
